<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Flask on Docker</title>
  <!-- meta -->
  <meta name="description" content="">
  <meta name="author" content="">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <!-- styles -->
  <link
  href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css"
  rel="stylesheet"
  >
  {% block css %}{% endblock %}
</head>
<body>
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <br>
        <h1>All Images</h1>
        <hr>

        <form action="/" method="POST">
            <div class="form-group">
              <input name="name" class="form-control input-lg" type="name" placeholder="Enter a name" required>
            </div>
          <input type="submit" class="btn btn-primary btn-lg btn-block" value="Search">
        </form>
        <hr>
        <table class="table table-dark">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Path</th>
              <th scope="col">Recognized names</th>
            </tr>
          </thead>
          <tbody>
            {% if images %}
            {% for image in images %}
            <tr>
              <th scope="row">{{image.id}}</th>
              <td>{{image.path}}</td>
              <td>{{image.names}}</td>
            </tr>
            {% endfor %}
            {% else %}
            <p>No images!</p>
            {% endif %}

          </tbody>
        </table>


      </div>
    </div>
  </div>
</div>
<!-- scripts -->
<script
type="text/javascript"
src="//code.jquery.com/jquery-2.2.4.min.js"
></script>
<script
type="text/javascript"
src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"
>
</script>
{% block js %}{% endblock %}
</body>
</html>